@{
    ViewBag.Title = "Enter";
}

<h2>Enter Account Number</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter account number</h4>
        <hr />

        <form method="POST">
            <input type="text" id="moneyinput" placeholder="Enter Withdrawal amount" name="account" />
            <input type="submit" value="Submit" />
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
