@{
    ViewBag.Title = "Enter";
}

<h2>Enter Account Number</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LOG IN</h4>
        <hr />

        <form method="POST">
            <input type="text" id="account" placeholder="Enter 10 Digit Account Number" name="account" />
            <input type="text" id="pin" placeholder="Enter 4 Digit PIN" name="pin" />
            <input type="submit" value="Submit" />
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
