@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Confirmation";
}


<div class="jumbotron">
    <h1>Bank of 3101</h1>
    <p class="lead">
        Thanks for using Bank of 3101's ATM. Would you like to make another transaction?
    </p>
    <p><a href="Menu" class="btn btn-primary btn-lg">Yes &raquo;</a></p>
    <p><a href="Index" class="btn btn-primary btn-lg">No &raquo;</a></p>
</div>


