@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Room 214<br />
    Pupin Hall704 pupin hall, New York, NY 10027<br />
    <abbr title="Phone">P:</abbr>
    646.214.3101
</address>

<address>
    <strong>Questions?:</strong>   <a href="mailto:Support@example.com">dontask@yoogle.com</a><br />
</address>