<div class="jumbotron">
    <h1>Bank of 3101</h1>
    <p class="lead">
        Thanks for using Bank of 3101's ATM.

        <h4> Click The Image To Begin Transaction! </h4>
        <a href='@Url.Action("Index", "Users")'>
            <img src="../Images/ATM.jpg" />
        </a>
</div>
